@import 'tailwindcss';

:root {
    --background: #171717;
    --foreground: #222222;
}

body {
    background: var(--background);
    color: #fff;
    font-family: var(--font-raleway);
}

.container {
    @apply max-w-[1200px] py-0 px-4 mx-auto md:px-6;
}
